body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 50px;
  width: auto;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.nav-item {
  margin-right: 20px;
}

.navbar ul li:hover a {
  color: #ffb724;
}

.background {
  background-color: #ff000000;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-image: url("images/bgabout.jpg");
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.input-container {
  margin-top: 20px;
}

.label-input {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    margin-top: 20px;
  }

  .nav-item {
    margin: 10px 0;
  }

  .background {
    padding: 20px 0;
  }
}
